# If you are reading this ⚠️ DO NOT PUT REAL KEYS HERE ⚠️ use vi .env instead

API_ID=
API_HASH=
TOKEN=
MONGO_URI=
API_KEY=
OWNER_ID=
LOGGER_ID=
COOKIES_URL=
DEVS=
PORT=6060
DL_BOT_TOKEN=
SUPPORT_GROUP=https://t.me/FallenSupport
SUPPORT_CHANNEL=https://t.me/FallenProjects
DB_NAME=MusicBot
DOWNLOADS_DIR=downloads
API_URL=https://api.onegrab.fun
SONG_DURATION_LIMIT=3600
DEFAULT_SERVICE=youtube
